.about {
  margin-top: 4em;

  @include breakpoint-up(tablet-portrait-up) {
    padding: 1.2em 10%;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  .about__paragraph {
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }
}
